.vscode/
build/
devel/
.catkin_workspace
.rosinstall
install/
src/arrows_hls/
src/underwater_simulation/
.catkin_tools/
src/vision_opencv/
src/vision_opencv/
src/ucat_simulator/ucat_simulator-master/tut_arrows/scripts/fuzzyController.pyc
src/ucat_simulator/ucat_simulator-master/tut_arrows/bags/errors.bag
