<launch>
	<include file="$(find uwsim_arrows)/launch/uwsim.launch"/> 
	
	<group ns="ucat0">
		<node name="WrenchDriver" pkg="tut_arrows" type="WrenchDriver" output="screen" respawn="true">
			<param name="mode" value="FAST"/>
			<param name="mode_change_time" value="5.0"/>
			 
		</node>
		
		<node name="ObjectTracking" pkg="tut_arrows" type="TrackingSim.py" output="screen" respawn="true">
		</node>
		
		<node name="QuatToEulerNode" pkg="tut_arrows" type="QuatToEulerNode.py" output="screen" respawn="true">
		</node>

	</group>

	<!-- <arg name="node_start_delay" default="1.0" />  

	<node name="error_plots"
	pkg="rqt_plot"
	type="rqt_plot"
	args="/yaw_error /surge_error /heave_error"
	launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " /> -->

	
<!-- 	
    <arg name = "bag_directory" default="$(find tut_arrows)/bags/" />
    <arg name = "filename" default="pinger.bag" />

    <node pkg="rosbag" type="record" 
	name="recorder" output="screen" 
	args="-O $(arg bag_directory)$(arg filename) /yaw_error /surge_error /heave_error /pyaw_error /psurge_error /pdepth_error /ucat0/sim_odom /ucat0/hw/beaconReceiver - -duration=90"/>
-->
	<!-- <node name="MovingObject" pkg="uwsim" type="spawnObject" output="screen" respawn="true">
	</node> -->
	
</launch>